# Problem 21: Amicable numbers

Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n).
If d(a) = b and d(b) = a, where a â‰  b, then a and b are an amicable pair and each of a and b are called amicable numbers.

For example, the proper divisors of 220 are 1, 2, 4, 5, 10, 11, 20, 22, 44, 55 and 110; therefore d(220) = 284. The proper divisors of 284 are 1, 2, 4, 71 and 142; so d(284) = 220.

Evaluate the sum of all the amicable numbers under 10000.

In [350]:
import math
import numpy as np

def find_factors_sqrt(x):
    m = math.ceil(math.sqrt(x))
    if x == 2:
        factors = [1]
    else:
        factors = []
        for i in range(1, m + 1): 
            if (x/i - int(x/i)) == 0: 
                factors.append(i)
    return(factors)

def find_divisors(x):
    factors_sqrt = find_factors_sqrt(x)
    opposites = [x/j for j in factors_sqrt]
    result = factors_sqrt + opposites
    result = [int(x) for x in result]
    result.remove(x)
    result = list(set(result)) ## Remove duplicates, occurrs when x is a perfect square
    return(result)

print(find_factors_sqrt(2))
print(find_factors_sqrt(25))
print(find_divisors(25))

[1]
[1, 5]
[1, 5]

In [351]:
print(sum(find_divisors(x = 220)))
print(sum(find_divisors(x = 284)))

284
220

In [352]:
all_divisor_sum = [sum(find_divisors(x = x)) for x in range(1, 10001)]
len(all_divisor_sum)

10000

In [353]:
print(all_divisor_sum[220-1])
print(all_divisor_sum[284-1])

284
220

In [354]:
amicable = []

for j in range(1, 10000):
    if all_divisor_sum[j-1] < 10000:
        first = all_divisor_sum[j-1]
        second = all_divisor_sum[first-1]
        if j == second and first != second:
            print(str(j) + ": " + str(first) + ", " + str(second))
            amicable.append(first)
            amicable.append(second)

220: 284, 220
284: 220, 284
1184: 1210, 1184
1210: 1184, 1210
2620: 2924, 2620
2924: 2620, 2924
5020: 5564, 5020
5564: 5020, 5564
6232: 6368, 6232
6368: 6232, 6368

In [355]:
amicable = list(set(amicable))
print(amicable)
print(sum(amicable))

[1184, 6368, 5564, 5020, 2924, 284, 6232, 1210, 220, 2620]
31626

# Problem 22:

In [356]:
import pandas as pd

p22_data = pd.read_csv("p022_names.txt")
p22 = sorted(list(p22_data.columns))
print(p22[:5])
print(len(p22))

['AARON', 'ABBEY', 'ABBIE', 'ABBY', 'ABDUL']
5163

In [357]:
print(ord("A"))
print(ord("B"))

65
66

In [358]:
p22_ord = [list(map(lambda j: ord(j) - 64, x)) for x in p22]
p22_ord_sum = [sum(x) for x in p22_ord]
p22_ord_sum_prod = np.array(p22_ord_sum) * np.array(list(range(1, len(p22) + 1)))
p22_ord_sum_prod_sum = np.sum(p22_ord_sum_prod)

print(p22[937])
print(p22_ord[937])

print(p22_ord[:5])
print(p22_ord_sum[:5])
print(p22_ord_sum_prod)
print(p22_ord_sum_prod_sum)

COLIN
[3, 15, 12, 9, 14]
[[1, 1, 18, 15, 14], [1, 2, 2, 5, 25], [1, 2, 2, 9, 5], [1, 2, 2, 25], [1, 2, 4, 21, 12]]
[49, 35, 19, 30, 40]
[    49     70     57 ... 309660 402636 376899]
871198282

# Problem 23: Non-abundant sum

A perfect number is a number for which the sum of its proper divisors is exactly equal to the number. For example, the sum of the proper divisors of 28 would be 1 + 2 + 4 + 7 + 14 = 28, which means that 28 is a perfect number.

A number n is called deficient if the sum of its proper divisors is less than n and it is called abundant if this sum exceeds n.

As 12 is the smallest abundant number, 1 + 2 + 3 + 4 + 6 = 16, the smallest number that can be written as the sum of two abundant numbers is 24. By mathematical analysis, it can be shown that all integers greater than 28123 can be written as the sum of two abundant numbers. However, this upper limit cannot be reduced any further by analysis even though it is known that the greatest number that cannot be expressed as the sum of two abundant numbers is less than this limit.

Find the sum of all the positive integers which cannot be written as the sum of two abundant numbers.

We can first calculate all the abundant numbers below N = 28123. Then we can enumerate all possible sums between these abundant numbers below N. These numbers are then eliminated from the list of 1, ..., N.

In [359]:
n = 28123
listn = np.array(list(range(1, n + 1)))

In [360]:
list_abundant_sums = np.array([sum(find_divisors(x)) for x in listn])
print(list_abundant_sums[:10])

[1 1 1 3 1 6 1 7 4 8]

In [362]:
list_abundant = listn[list_abundant_sums > listn]
print(list_abundant)
print(len(list_abundant))
print(list_abundant[:10])
print(type(list_abundant[0]))

[   12    18    20 ... 28116 28120 28122]
6965
[12 18 20 24 30 36 40 42 48 54]
<class 'numpy.int32'>

In [363]:
len(np.setdiff1d(list_abundant, list_abundant + 12))

1590

In [364]:
result = listn;
# result = np.setdiff1d(listn, np.array(range(1, 13)))

for i in list_abundant:
    list_twosums = list_abundant + i
    result = np.setdiff1d(result, list_twosums, assume_unique = False)

In [365]:
print(result)
print(len(result))
print(sum(result))

[    1     2     3 ... 18437 19067 20161]
1456
4179871

# Problem 24: Lexicographic permutations

A permutation is an ordered arrangement of objects. For example, 3124 is one possible permutation of the digits 1, 2, 3 and 4. If all of the permutations are listed numerically or alphabetically, we call it lexicographic order. The lexicographic permutations of 0, 1 and 2 are:

012   021   102   120   201   210

What is the millionth lexicographic permutation of the digits 0, 1, 2, 3, 4, 5, 6, 7, 8 and 9?

Solution: Luckily, the itertools module does the sorting and permutations automatically

In [378]:
import itertools
all_perm = list(itertools.permutations(range(0, 10)))
print(len(all_perm))

3628800

In [379]:
list(all_perm[int(1e6)-1])

[2, 7, 8, 3, 9, 1, 5, 4, 6, 0]

# Problem 25: 1000-digit Fibonacci number

The Fibonacci sequence is defined by the recurrence relation:

Fn = Fnâˆ’1 + Fnâˆ’2, where F1 = 1 and F2 = 1.
Hence the first 12 terms will be:

F1 = 1
F2 = 1
F3 = 2
F4 = 3
F5 = 5
F6 = 8
F7 = 13
F8 = 21
F9 = 34
F10 = 55
F11 = 89
F12 = 144
The 12th term, F12, is the first term to contain three digits.

What is the index of the first term in the Fibonacci sequence to contain 1000 digits?

In [531]:
a = 1
b = 1
i = 2

In [532]:
while len(str(a)) <= 999 and len(str(b)) <= 999:
    a = a + b
    b = a + b
    i = i + 2
#     print("b_i = " + str(i) + ",a = " + str(a) + ",b = " + str(b))

In [533]:
print(i) ## This is the index of b
print(len(str(a)))
print(len(str(b)))
# print(a)
# print(b)

4782
999
1000

As number of b is 1000, but a did not, so the answer is i (otherwise it will be i - 1)

# Problem 26: Reciprocal cycles

A unit fraction contains 1 in the numerator. The decimal representation of the unit fractions with denominators 2 to 10 are given:

1/2	= 	0.5
1/3	= 	0.(3)
1/4	= 	0.25
1/5	= 	0.2
1/6	= 	0.1(6)
1/7	= 	0.(142857)
1/8	= 	0.125
1/9	= 	0.(1)
1/10	= 	0.1
Where 0.1(6) means 0.166666..., and has a 1-digit recurring cycle. It can be seen that 1/7 has a 6-digit recurring cycle.

Find the value of d < 1000 for which 1/d contains the longest recurring cycle in its decimal fraction part.

Solution: we will use a couple of theorems from https://mathworld.wolfram.com/DecimalExpansion.html
1. Decimal expansion of m/n has a period of lambda(n), which is independent of m. In our problem m = 1, so this is helpful, we only need to consider n. 
2. Also, lambda(n) is at most n-1. This is also helpful because in our problem d = n < 1000. 
3. Equation 7 says that we need to find the pairs s and t satisfying 10^{s} \equiv 10^{s+t} (mod n). 

Together with 2 means that we can simply calculate the mod of 1000 numbers (at most) and find out which pairs of them are identical.

In [561]:
def fast_power_exp(b, e, m): ## c = b^e (mod m)
    c = 1
    e_dash = 0
    while e_dash < e:
        e_dash = e_dash + 1
        c = (b * c) % m
#         print("c = " + str(c),
#               "e_dash = " + str(e_dash),
#               "e = " + str(e))
    return(c)
        
print(fast_power_exp(b = 10, e = 8, m = 84))

16

## A small example

In [607]:
n = 7 ## From the original problem, s should be 0 and t should be 6
array_seven = np.array([fast_power_exp(b = 10, e = e, m = n) for e in range(0, 1000)])
print(array_seven[:10])
print(array_seven.shape)
print(type(array_seven))

[1 3 2 6 4 5 1 3 2 6]
(1000,)
<class 'numpy.ndarray'>

In [615]:
# print(np.sum(array_seven == 1))
# print(np.where(array_seven == 1))
tmp = np.where(array_seven == 1)
tmp[0][0:2] ## numpy.where returns a tuple, so [0] gets rid of this

array([0, 6], dtype=int64)

In [617]:
for i in array_seven:
    binary = array_seven == i
    if np.sum(binary) >= 2:
        index = np.where(array_seven == i)[0][0:2]
        t = index[1] - index[0]
        print(t)
        break

6

## Full solution

In [618]:
def longest_repeating_decimals(n):
    array_powers = np.array([fast_power_exp(b = 10, e = e, m = n) for e in range(0, 1000)])
    for i in array_powers:
        binary = array_powers == i
        if np.sum(binary) >= 2:
            index = np.where(array_powers == i)[0][0:2]
            t = index[1] - index[0]
            return(t)

In [624]:
print(longest_repeating_decimals(n = 6))
print(longest_repeating_decimals(n = 7))

1
6

In [630]:
all_repeats = np.array([longest_repeating_decimals(n) for n in range(1, 1000)])
print(all_repeats[:20])

array([  1,   1,   1,   1,   1,   1,   6,   1,   1,   1,   2,   1,   6,
         6,   1,   1,  16,   1,  18,   1,   6,   2,  22,   1,   1,   6,
         3,   6,  28,   1,  15,   1,   2,  16,   6,   1,   3,  18,   6,
         1,   5,   6,  21,   2,   1,  22,  46,   1,  42,   1,  16,   6,
        13,   3,   2,   6,  18,  28,  58,   1,  60,  15,   6,   1,   6,
         2,  33,  16,  22,   6,  35,   1,   8,   3,   1,  18,   6,   6,
        13,   1,   9,   5,  41,   6,  16,  21,  28,   2,  44,   1,   6,
        22,  15,  46,  18,   1,  96,  42,   2,   1,   4,  16,  34,   6,
         6,  13,  53,   3, 108,   2,   3,   6, 112,  18,  22,  28,   6,
        58,  48,   1,  22,  60,   5,  15,   1,   6,  42,   1,  21,   6,
       130,   2,  18,  33,   3,  16,   8,  22,  46,   6,  46,  35,   6,
         1,  28,   8,  42,   3, 148,   1,  75,  18,  16,   6,  15,   6,
        78,  13,  13,   1,  66,   9,  81,   5,   2,  41, 166,   6,  78,
        16,  18,  21,  43,  28,   6,   2,  58,  44, 178,   1, 180,   6,
        60,  22,   3,  15,  16,  46,   6,  18,  95,   1, 192,  96,   6,
        42,  98,   2,  99,   1,  33,   4,  84,  16,   5,  34,  22,   6,
        18,   6,  30,  13,  35,  53,  21,   3,  30, 108,   8,   2,  48,
         3, 222,   6,   1, 112, 113,  18, 228,  22,   6,  28, 232,   6,
        46,  58,  13,  48,   7,   1,  30,  22,  27,  60,  42,   5,  18,
        15,  41,   1,  50,   6,  22,  42,  16,   1, 256,  21,   6,   6,
        28, 130, 262,   2,  13,  18,  44,  33, 268,   3,   5,  16,   6,
         8,   2,  22,  69,  46,  15,   6,  28,  46, 141,  35,  18,   6,
        30,   1, 272,  28,  96,   8, 146,  42,  58,   3,   6, 148,  66,
         1,  42,  75,   4,  18,  60,  16, 153,   6,  34,  15, 155,   6,
       312,  78,   6,  13,  79,  13,  28,   1,  53,  66, 144,   9,   6,
        81, 108,   5, 138,   2, 110,  41,   3, 166,  33,   6, 336,  78,
       112,  16,  30,  18, 294,  21,  22,  43, 173,  28, 116,   6,   6,
         2,  32,  58,  35,  44,  48, 178, 179,   1, 342, 180,  22,   6,
         8,  60, 366,  22,   5,   3,  78,  15, 186,  16,   1,  46,  84,
         6, 378,  18,  42,  95, 382,   1,   6, 192,  21,  96, 388,   6,
       176,  42, 130,  98,  13,   2,  99,  99,  18,   1, 200,  33,  30,
         4,   9,  84,   6,  16, 204,   5,   8,  34, 174,  22,  41,   6,
        46,  18, 418,   6, 140,  30,  46,  13,  16,  35,  60,  53,   6,
        21, 215,   3, 432,  30,  28, 108, 198,   8, 219,   2,  42,  48,
       221,   3,  44, 222, 148,   6,  32,   1,  10, 112,  75, 113,   6,
        18, 152, 228,  48,  22, 460,   6, 154,  28,  15, 232, 233,   6,
        66,  46,  78,  58,  42,  13,  18,  48,  13,   7, 239,   1,   6,
        30,  66,  22,  96,  27, 486,  60,  81,  42, 490,   5, 112,  18,
         2,  15, 210,  41, 498,   1, 166,  50, 502,   6,   4,  22,  78,
        42, 508,  16,  24,   1,  18, 256,  34,  21,  46,   6,  43,   6,
        52,  28, 261, 130,   6, 262, 240,   2, 506,  13,  58,  18,  30,
        44,  53,  33, 178, 268,  42,   3, 540,   5, 180,  16, 108,   6,
        91,   8,  60,   2, 252,  22,  78,  69,   3,  46, 278,  15,  42,
         6,  16,  28, 281,  46, 112, 141,  18,  35, 284,  18, 570,   6,
        95,  30,  22,   1, 576, 272, 192,  28, 246,  96,  26,   8,   6,
       146, 293,  42,  90,  58,  98,   3, 592,   6,  48, 148,  99,  66,
       299,   1, 300,  42,  33,  75,  22,   4, 202,  18,  84,  60, 138,
        16,  51, 153,   5,   6,  88,  34, 618,  15,  66, 155, 132,   6,
         1, 312,  18,  78,  48,   6, 315,  13,  30,  79,  42,  13,  42,
        28,  35,   1,  32,  53, 107,  66,  21, 144, 646,   9,  58,   6,
        30,  81, 326, 108, 130,   5,   8, 138, 658,   2, 220, 110,  48,
        41,  18,   3, 308, 166, 222,  33,  60,   6, 224, 336,   3,  78,
       338, 112,  96,  16, 113,  30, 341,  18,   8, 294, 228,  21,  78,
        22, 230,  43,   6, 173,  46,  28,  80, 116, 232,   6, 700,   6,
        18,   2,  46,  32,  12,  58, 708,  35,  13,  44, 330,  48,   6,
       178,   7, 179, 359,   1, 102, 342,  30, 180,  28,  22, 726,   6,
        81,   8, 336,  60,  61, 366,  42,  22,  66,   5, 246,   3,  18,
        78, 742,  15, 148, 186,  41,  16, 318,   1, 125,  46,  50,  84,
        75,   6,  27, 378,  22,  18, 380,  42, 108,  95,  16, 382, 174,
         1, 192,   6, 256, 192, 193,  21,  15,  96,   6, 388,  90,   6,
        70, 176,  84,  42,  78, 130, 393,  98, 262,  13, 336,   2,  60,
        99,  13,  99, 199,  18, 368,   1,  44, 200,   8,  33,  66,  30,
       268,   4, 202,   9, 810,  84,   5,   6,  81,  16, 126, 204,   6,
         5, 820,   8, 822,  34,   2, 174, 413,  22, 276,  41,  69,   6,
       336,  46, 166,  18,  15, 418, 419,   6, 812, 140,  28,  30,  78,
        46,  66,  13, 141,  16,  66,  35, 213,  60,  18,  53, 856,   6,
        26,  21,  30, 215, 862,   3,  43, 432, 272,  30,  26,  28,  66,
       108,  96, 198,   6,   8, 438, 219, 146,   2, 440,  42, 441,  48,
        58, 221, 886,   3,  42,  44,  18, 222, 414, 148, 178,   6,  66,
        32, 420,   1, 208,  10,  42, 112, 180,  75, 151, 113,   4,   6,
       455,  18,  82, 152,  60, 228, 390,  48, 459,  22, 153, 460, 210,
         6,   3, 154,  34,  28, 464,  15, 126, 232, 155, 233,  16,   6,
       936,  66, 312,  46, 940,  78, 110,  58,   6,  42, 473,  13,  24,
        18,  79,  48, 952,  13,  95,   7,  28, 239,  24,   1, 465,   6,
        53,  30, 192,  66, 322,  22, 144,  96, 970,  27, 138, 486,   6,
        60, 976,  81,  44,  42, 108, 490, 982,   5,  98, 112, 138,  18,
       462,   2, 495,  15, 110, 210,  99,  41, 166, 498,   3], dtype=int64)

In [631]:
np.where(all_repeats == max(all_repeats))

(array([982], dtype=int64),)

Because the answer index is 982, so the answer is 983

# Problem 27: Skipped for now
Euler discovered the remarkable quadratic formula:


It turns out that the formula will produce 40 primes for the consecutive integer values . However, when  is divisible by 41, and certainly when  is clearly divisible by 41.

The incredible formula  was discovered, which produces 80 primes for the consecutive values . The product of the coefficients, âˆ’79 and 1601, is âˆ’126479.

Considering quadratics of the form:

, where  and 

where  is the modulus/absolute value of 
e.g.  and 
Find the product of the coefficients,  and , for the quadratic expression that produces the maximum number of primes for consecutive values of , starting with .

Solution: Because it is required that n = 0 as the starting point, thus, the constant term in the quadratic formula must be a prime. This narrows our search.

In [688]:
## Primality test function from wikipedia

def is_prime(n: int) -> bool:
    """Primality test using 6k+-1 optimization."""
    if n <= 3:
        return n > 1
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i ** 2 <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

In [758]:
primes_below_1000 = np.array(range(2, 1001))[np.array([is_prime(n) for n in range(2, 1001)])]
print(primes_below_1000[:10])
print(len(primes_below_1000))

primes_below_1000_negpos = list(primes_below_1000) + list(-primes_below_1000)
print(primes_below_1000_negpos)

[ 2  3  5  7 11 13 17 19 23 29]
168
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, -2, -3, -5, -7, -11, -13, -17, -19, -23, -29, -31, -37, -41, -43, -47, -53, -59, -61, -67, -71, -73, -79, -83, -89, -97, -101, -103, -107, -109, -113, -127, -131, -137, -139, -149, -151, -157, -163, -167, -173, -179, -181, -191, -193, -197, -199, -211, -223, -227, -229, -233, -239, -241, -251, -257, -263, -269, -271, -277, -281, -283, -293, -307, -311, -313, -317, -331, -337, -347, -349, -353, -359, -367, -373, -379, -383, -389, -397, -401, -409, -419, -421, -431, -433, -439, -443, -449, -457, -461, -463, -467, -479, -487, -491, -499, -503, -509, -521, -523, -541, -547, -557, -563, -569, -571, -577, -587, -593, -599, -601, -607, -613, -617, -619, -631, -641, -643, -647, -653, -659, -661, -673, -677, -683, -691, -701, -709, -719, -727, -733, -739, -743, -751, -757, -761, -769, -773, -787, -797, -809, -811, -821, -823, -827, -829, -839, -853, -857, -859, -863, -877, -881, -883, -887, -907, -911, -919, -929, -937, -941, -947, -953, -967, -971, -977, -983, -991, -997]

In [742]:
def quad_prime_length(a: int, b: int):
#     nonprimes_list_n = np.where(np.array([not is_prime(n ** 2 + a*n + b) for n in range(0, 1001)]))
    flag = True
    n = 0
    while flag: 
        n = n + 1
        flag = is_prime(n ** 2 + a*n + b)
    ## Find the first instance of a false
    return(n - 1)

In [743]:
quad_prime_length(a = 1, b = 41)

39

In [759]:
import itertools
somelists = [
    range(-1000, 1001),
    primes_below_1000_negpos]

num_primes = 0
a = 0
b = b
for element in itertools.product(*somelists):
    new = quad_prime_length(a = element[0], b = element[1])
    if new > num_primes:
        num_primes = new
        a = element[0]
        b = element[1]

In [761]:
print(num_primes)
print(a)
print(b)
print(a * b)

70
-61
971
-59231

# Problem 28: Number spiral diagonals

Starting with the number 1 and moving to the right in a clockwise direction a 5 by 5 spiral is formed as follows:

21 22 23 24 25
20  7  8  9 10
19  6  1  2 11
18  5  4  3 12
17 16 15 14 13

It can be verified that the sum of the numbers on the diagonals is 101.

What is the sum of the numbers on the diagonals in a 1001 by 1001 spiral formed in the same way?

Solution: Here is a bit of enumeration and explict mathematical formula can help us to improve the speed dramatically. Note that:
1. n is always an odd number. 
2. When the (n-2)x(n-2) grid grows into the the nxn grid, we are only need to add four numbers. So the brute force approach of enumerating all numbers is not useful. 
3. We can break down the four directions to get our answer. 
+ The top right direction is always a perfect square, represented by A(n) = n^2
+ The bottom right direction is always (n-1) units from the complete (n-2)x(n-2) grid, so B(n) = (n-2)^2 + (n-1).
+ The bottom left direction is always (n-1) units from the B(n), so C(n) = (n-2)^2 + 2x(n-1).
+ The top left direction is always (n-1) units from the C(n), so D(n) = (n-2)^2 + 3x(n-1).

For each iteration, we can simply calculate A(n) + B(n) + C(n) + D(n) and add this to the previous total.

In [636]:
def A(n):
    return(n**2)

def B(n):
    return((n-2)**2 + (n-1))

def C(n):
    return((n-2)**2 + 2*(n-1))

def D(n):
    return((n-2)**2 + 3*(n-1))

In [638]:
total = 1
for i in range(3, 1002, 2):
    total = total + A(i) + B(i) + C(i) + D(i)

print(total)

669171001

# Problem 29: distinct powers

Consider all integer combinations of ab for 2 â‰¤ a â‰¤ 5 and 2 â‰¤ b â‰¤ 5:

22=4, 23=8, 24=16, 25=32
32=9, 33=27, 34=81, 35=243
42=16, 43=64, 44=256, 45=1024
52=25, 53=125, 54=625, 55=3125
If they are then placed in numerical order, with any repeats removed, we get the following sequence of 15 distinct terms:

4, 8, 9, 16, 25, 27, 32, 64, 81, 125, 243, 256, 625, 1024, 3125

How many distinct terms are in the sequence generated by ab for 2 â‰¤ a â‰¤ 100 and 2 â‰¤ b â‰¤ 100?

## Brute force solution

In [645]:
a = range(2, 101)
b = range(2, 101)
list_all = [i ** j for i in a for j in b]

In [646]:
len(set(list_all))

9183

# Problem 30: Digit fifth powers

Surprisingly there are only three numbers that can be written as the sum of fourth powers of their digits:

1634 = 14 + 64 + 34 + 44
8208 = 84 + 24 + 04 + 84
9474 = 94 + 44 + 74 + 44
As 1 = 14 is not a sum it is not included.

The sum of these numbers is 1634 + 8208 + 9474 = 19316.

Find the sum of all the numbers that can be written as the sum of fifth powers of their digits.

In [683]:
all_5digits = range(2, 5*(9**5))
print(all_5digits[0])
print(all_5digits[-1])

2
295244

In [684]:
def sum_fifth_power_digits(x):
    s = list(str(x))
    s_num = np.array(list(map(int, s)))  ** 5
    return(s_num.sum())

In [685]:
sum_fifth_power_digits("11121")

36

In [686]:
all_fifth_power_sums = np.array([sum_fifth_power_digits(i) == i for i in all_5digits])

In [687]:
print(np.array(all_5digits)[all_fifth_power_sums])
print(sum_fifth_power_digits("54748"))
print(np.sum(np.array(all_5digits)[all_fifth_power_sums]))

[  4150   4151  54748  92727  93084 194979]
54748
443839